<h2 style="text-align: center;"><img src="{{logo}}" alt=""></h2>

<ul>
<li><a href="/">
  <h3 style="text-align: center;">Home</h3>
</a></li>

<li><a href="/programas">
  <h3 style="text-align: center;">Programas</h3>
</a></li>
</ul>

<p style="text-align: center;">{{texto}}</p>

<body>
  dlkmdlkmlkemlfkme
</body>
