<ul>
  <li>
    <a href="/">
      Inicio
    </a>
  </li>

  <li>
    <a href="/episodios">
      Episodios
    </a>
  </li>

  <li>
    <a href="/registro">
      Registro
    </a>
  </li>


<h2 style="text-align: center;"><img src="{{logo}}" alt=""></h2>

<h3 style="text-align: center;">{{texto}}</h3>
<br>

<body>
  <ul>
    <li>
      <iframe width="44%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/310417258&amp;color=ff0000&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
    </li>

    <li>
      <iframe width="44%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/310168151&amp;color=ff0000&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
    </li>
    <br>
    <br>

    <li>
      <iframe width="44%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/309945529&amp;color=ff0000&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
    </li>

    <li>
      <iframe width="44%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/309247105&amp;color=ff0000&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
    </li>
    <br>
    <br>

    <li>
      <iframe width="44%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/266266794&amp;color=ff0000&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
    </li>

    <li>
      <iframe width="44%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/308830190&amp;color=ff0000&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
    </li>
  </ul>
</body>
