<ul>
  <li>
    <a href="/">
      Inicio
    </a>
  </li>

  <li>
    <a href="/episodios">
      Episodios
    </a>
  </li>

  <li>
    <a href="/registro">
      Registro
    </a>
  </li>

<h2 style="text-align: center;"><img src="{{logo}}" alt=""></h2>

<body>
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfw1XB9r8ATYpqLupb_kSPjND3v19g0shznzhNPLvnpLG7bUQ/viewform?embedded=true" marginheight="0" marginwidth="0" width="1060" height="550" frameborder="0">Cargando...</iframe></body>
</body>
