body {
  padding: 50px;
  text-align: center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul li{
  padding: 10px;
  text-align: center;
  display: inline ;
}
